* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}
.conteiner{
    width: 100%;
    height: 100vh;

}
.conteiner .content{
    width: 100%;
    height: 100vh;
}
.conteiner .content .isk1{
    width: 100%;
    height: 50px;
    background-color: yellow;
    margin-top: 10px;
    color: black;
}
.conteiner .content .isk1 h1 a{
    font-size: 40px ;
    margin-left: 5%;
    color: black;
    
}
.conteiner .content .isk2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.conteiner .content .isk2 .box{
    width: 47.5%;
    height: 250px;
    /* background-color: rgb(255, 255, 0); */
    /* border: 3px solid black; */
    margin-top: 30px;
    border-radius: 10px;
}
.conteiner .content .isk2 .box .box1{
    width: 100%;
    height: 70%;
}
.conteiner .content .isk2 .box .box1 img{
    width: 100%;
    height: 100%;
}

.conteiner .content .isk2 .box .box2{
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    background-color: rgb(255, 255, 0);
}
.conteiner .content .isk2 .box .box2 h1{
    font-size: 20px;
    font-weight: 900;
    margin-left: 19%;
}
.conteiner .content .isk2 .box .box2 h2{
    font-size: 15px;
    color: red;
    margin-left: 20px;
}
.conteiner .content .isk2 .box .box2 h3{
    margin-left: 20px;
}
.conteiner .content .isk2 .box .box2 h4{
    margin-left: 100px;
}